/* Palette https://coolors.co/d4dfed-274060-ffe1c2-ffad5c-c8e7f9-6cbeed */
@font-face {
    font-family: "NerkoOne";
    src: local("NerkoOne"),
      url("../fonts/NerkoOne-Regular.ttf") format("truetype");
    font-weight: normal;
}

h1 {
    font-family: NerkoOne;
    font-size: 75px;
    text-align: center;
}

#container-landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffebd6;
}

#user-prompts {
    font-family: NerkoOne;
    background-color: #C8E7F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #6CBEED;
    border-style: dotted;
    border-width: 3px;
    border-radius: 5px;
}

.prompt-text {
    padding: 5px;
    background-color: #C8E7F9;
}